
<div class="row">
    <div class="col-md-12">
        <h2>Games</h2>
    </div>
</div>
<div class="row" ng-app="Cricket">
    <div class="col-md-12" ng-controller="game_controller">
        <h3>{{title}}</h3>
        <ul ng-repeat="game in games">
            <li>{{game.Date}}: {{game.Opposition}}</li>
        </ul>
    </div>
</div>


@section scripts
{
    <script src="~/app/game-controller.js"></script>
}