@model IEnumerable<IndoorCricket.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<div class="row" ng-controller="team_controller">
    <div class="col-md-2">
        <h3>Games List</h3>

        <div class="widget">
            <ul id="game-list" class="list-group">
                @foreach (Game game in Model.OrderByDescending(g => g.Date))
                {
                    <li class="list-group-item" ng-click="Select(@game.Id)">
                        <div id="@game.Id" class="list-group-item-text"><strong>@game.Opposition</strong> <span class="meta" style="display: block;">@game.Date.ToString("MMM dd, yyyy HH:mm")</span></div>
                    </li>
                }
            </ul>
        </div>

        @*<ul class="list-unstyled list-inline">
                <li ng-repeat="player in team.Players" class="player-picklist btn btn-primary" ng-class="{'btn-success' : striker == player}" ng-click="selectPlayer($index)">{{player.Name}}</li>
            </ul>*@
    </div>
    <div class="col-md-7">
        <h3>{{selectedTeam.Name}}</h3>

        <div class="widget">

            <div class="widget-head">
                <div class="pull-right"><a href="/Score/Index/{{selectedTeam.Id}}">View Games</a></div>
                <div class="pull-left">Game Summary {{selectedGame}}</div>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Result</th>
                            <th>Runs For</th>
                            <th>Runs Against</th>
                            <th>MVP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in selectedTeam.Players">
                            <th>{{player.Name}}</th>
                            <th>{{player.Email}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <div class="col-md-3">
        <h3>Team Controls</h3>

        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">Register new team</div>
            </div>
            <div class="widget-content">

                <input id="newteam-name" type="text" class="form-control" name="newteam-name" ng-model="newTeam.Name" placeholder="Team name" />
                <button type="button" class="btn btn-default" ng-click="Create()">Save</button>

            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/app/team-controller.js"></script>
}